server:
  port: 8081

spring:
  datasource:
#    url: jdbc:mysql://localhost:3306/uaa_server
#    username: root
#    password: root
#    driver-class-name: com.mysql.jdbc.Driver
#    initialization-mode: always
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/uaa_server
    username: root
    password: root
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        show_sql: true
        format_sql: true

security:
  jwt:
    path-location: src/main/resources/keystore/keystore.jks
    key-store-password: Cthau19961772
    key-pair-alias: secret
    key-pair-password: Cthau19961772
    base64-secret: NjU0ZDBkNzMzZjVkNzVlNzkwMDg0YTRlODFjMzQ0M2QzY2EyMzRmZWQ1NDhhMjA4OTlkNzg0OGYxOTU1YWI0ZjY4MjE4NDViYWJmYTIyNjg2N2Q4NDhmYjcwNjRjMzY2NTkxMzEzOTExZjVmMzA4Y2JmYTMwMDUzZGJhYTBiMjA=
    token-validity-in-seconds: 86400
    token-validity-in-seconds-for-remember-me: 2592000


logging:
  level:
    org:
      hibernate:
        type: trace
